* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

:root {
  --header-height: 3rem;

  /* Font */
  --ff-pry: "Nunito", sans-serif;
  --ff-header: "Birthstone Bounce", cursive;

  /* font-size */
  --fs-big: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /* z-index */
  --z-fixed: 100;

  /* === Colors === */
  --random: #020024;
  --white: #fff;
  --pry-clr: #fbdbb4;
  --btn-clr: rgba(31, 52, 105, 0.855);
  --accent-clr: #7daa92;
  --accent-2: #bd9e7f;
  --cedar-chest: #d04e42;

  --box-shadow: 0px 5px 8px 2px rgba(129, 160, 207, 0.33);
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1.375rem;
    --small-font-size: 0.95rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

/* ======= 
  HEADER 
  ======== */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: var(--header-height);
  background-color: var(--btn-clr);
  z-index: var(--z-fixed);
}

header .logo,
.nav__name {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 500;
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  color: var(--white);
}

header .logo {
  display: none;
}

/* Nav */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.bd-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__menu .nav__list {
  display: inline-flex;
}

nav div.contact {
  margin-left: auto;
}

nav div.contact a {
  color: var(--btn-clr);
  background-color: var(--white);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: linear 0.2s ease-in-out;
}

nav div.contact a:hover,
nav div.contact a:focus {
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.nav__item {
  margin-right: 1rem;
}

.nav__link {
  color: var(--white);
  font-weight: 700;
  transition: linear all ease-in-out 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  letter-spacing: 0.5px;
  border-bottom: 2px solid var(--white);
}

#nav-toggle {
  display: none;
}

/* ============ 
  About Section 
  ============= */
section.home {
  background: rgb(31, 52, 105);
  background: linear-gradient(
    139deg,
    rgba(31, 52, 105, 1) 0%,
    rgba(31, 52, 105, 0.85) 47%
  );
  color: var(--white);
  margin-top: calc(2 * var(--header-height));
  padding-bottom: 3rem;
  /* height: 100vh; */
}

section.home article {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

article.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20%;
}

article.intro .profile__pic img {
  outline: 2px solid white;
  outline-offset: 0.5rem;
  border-radius: 50%;
}

article.intro .description p {
  color: transparent;
  font-weight: 900;
  color: rgb(163, 178, 216);
  background: linear-gradient(
    90deg,
    rgb(163, 178, 216) 30%,
    rgba(124, 199, 195, 0.85) 47%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

article.intro .description span {
  text-transform: uppercase;
  transition: 1s ease-in-out;
  animation: effect 5s ease-in-out infinite;
}

@keyframes effect {
  0% {
    color: white;
  }

  100% {
    color: transparent;
    background: linear-gradient(
      90deg,
      rgb(144, 165, 219) 30%,
      rgba(124, 199, 195, 0.85) 47%
    );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
  }
}

article.intro .description span:hover {
  color: transparent;
  background: linear-gradient(
    90deg,
    rgb(144, 165, 219) 30%,
    rgba(124, 199, 195, 0.85) 47%
  );
  background-size: 100%;
  background-clip: text;
  cursor: pointer;
}

article.intro .description h1,
article.intro .description h2 {
  font-size: 4rem;
}

article.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9rem;
  padding-bottom: var(--header-height);
}

article.details div p:nth-child(1) {
  font-size: 1.15rem;
  padding-bottom: 1rem;
}

article.details div p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 600;
}

article.details .mail a {
  position: relative;
  color: var(--white);
}

article.details .mail a::after {
  content: "\f2b6";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  position: absolute;
  top: -150%;
  right: 0px;
  padding: 0.75rem;
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

article.details .mail a:hover {
  color: var(--accent-clr);
}

/* ============= 
  SKILLS SECTION 
  ============== */
section.skills {
  position: relative;
}
/* 
section.skills::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 70%;
  height: 100%;
  background-color: var(--btn-clr);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  opacity: 0.1;
  z-index: 2;
} */

section.skills article {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
  background-color: white;
  z-index: 100;
}

section.skills article h2 {
  color: var(--btn-clr);
  font-size: clamp(1.5rem, 7vmin, 3rem);
  margin-top: 5rem;
  margin-bottom: 4rem;
}

section.skills article .description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

section.skills article .description p {
  background-color: white;
  font-size: clamp(0.5rem, 7vmin, 1.15rem);
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 60%;
  padding: 3rem 2rem 2rem 3rem;
  border: 2px solid var(--btn-clr);
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

section.skills article .description ul li {
  font-size: clamp(0.75rem, 7vmin, 1.35rem);
  font-weight: 600;
  list-style: initial;
  margin-bottom: 0.75rem;
}

article .stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: 1s ease-in-out;
}

article .stack div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 0px solid var(--btn-clr);
  border-radius: 4px;
  width: 180px;
  height: 180px;
  box-shadow: var(--box-shadow);
}

article .stack img {
  width: 100px;
  height: 90px;
  overflow: hidden;
}

article .stack p {
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

article .stack p:hover {
  color: var(--white);
  background-color: var(--btn-clr);
  width: 70%;
  text-align: center;
  padding: 0.5rem 0;
  letter-spacing: 1px;
  border-radius: 4px;
}

/* ========= 
  MEDIA QUERIES 
  ========== */
@media screen and (max-width: 768px) {
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  header .logo {
    display: block;
    font-size: 1.5rem;
  }

  nav {
    position: relative;
  }

  #nav-toggle {
    display: block;
    position: relative;
    color: var(--white);
    background-color: var(--btn-clr);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 7px;
    cursor: pointer;
  }

  #nav-toggle::after {
    content: "MENU";
    position: absolute;
    top: 0%;
    right: 100%;
    background-color: var(--btn-clr);
    font-family: var(--ff-pry);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.6rem 0 0.5rem 0.5rem;
  }

  .bd-grid {
    grid-template-columns: 1fr max-content;
    background-color: var(--accent-clr);
    position: absolute;
    top: 90%;
    width: 95%;
  }

  .nav__menu {
    display: none;
    transition: ease-in 0.5s;
  }

  nav div.contact a,
  .nav__name {
    display: none;
  }

  .show {
    display: block;
  }

  nav .nav__menu .nav__list {
    display: block;
    width: 100%;
  }

  nav .nav__menu .nav__list .nav__item .nav__link {
    display: block;
    margin: 1rem;
  }

  /* About Section */
  section.home article {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  article.intro .profile__pic img {
    outline-offset: 0.3rem;
  }

  article.intro .description p {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  article.intro .description h1,
  article.intro .description h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  article.details {
    justify-content: flex-start;
    gap: 3rem;
  }

  article.details div p:nth-child(1) {
    font-size: 1.35rem;
    padding-bottom: 0.5rem;
  }

  article.details div p:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
  }

  article.details .mail a::after {
    right: -50px;
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  /* About Section */
  article.intro {
    display: inline-block;
  }

  article.intro .profile__pic {
    margin-bottom: 2rem;
  }

  article.intro .profile__pic img {
    width: 130px;
    height: 130px;
  }

  article.intro .description h1,
  article.intro .description h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  article.details {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 0;
  }

  /* Skills Section */
  section.skills article .description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  section.skills article .description p {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .active {
    border-bottom: 2px solid var(--white);
    transition: linear ease-in-out 0.2s;
  }
}
/* 
@media screen and (max-width: 360px) {
  section.home {
    margin-top: 4rem;
  }
} */
