* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

:root {
  --header-height: 3rem;

  /* font-size */
  --fs-big: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /* z-index */
  --z-fixed: 100;

  /* === Colors === */
  --white: #fff;
  --pry-clr: #fbdbb4;
  --btn-clr: #1f3469;
  --accent-clr: #7daa92;
  --accent-2: #bd9e7f;
  --cedar-chest: #d04e42;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1.375rem;
    --small-font-size: 0.95rem;
  }
}

/* === HEADER === */

header .logo,
.nav__name {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 500;
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  color: var(--btn-clr);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: var(--header-height);
  background-color: var(--pry-clr);
  z-index: var(--z-fixed);
  box-shadow: 0px 5px 5px 3px rgba(222, 215, 202, 0.33);
  -webkit-box-shadow: 0px 5px 5px 3px rgba(222, 215, 202, 0.33);
  -moz-box-shadow: 0px 5px 5px 3px rgba(222, 215, 202, 0.33);
}

header .logo {
  display: none;
}

/* Nav */

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.bd-grid {
  display: grid;
  grid-template-columns: 2fr max-content 1fr;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__menu .nav__list,
nav .social__links .nav__list {
  display: inline-flex;
}

.social__links {
  margin-left: auto;
}

.nav__item {
  margin-right: 1rem;
}

.nav__link {
  color: var(--btn-clr);
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

.nav__link:hover,
.nav__link:focus {
  letter-spacing: 1px;
  border-bottom: 2px solid var(--btn-clr);
}

.social__links {
  font-size: var(--normal-font-size);
}

#nav-toggle {
  display: none;
}

/* === About Section === */
section.about {
  position: relative;
}
.profile__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--pry-clr);
  overflow: hidden;
  /* border: 1px solid red; */
}
.profile__pic img {
  /* border: 1px solid red; */
  height: 90vh;
}

section.about .description {
  position: absolute;
  top: 35%;
  left: 15%;
  right: 15%;
  text-align: center;
  color: var(--pry-clr);
}

section.about .description h2 {
  font-size: calc(var(--fs-big) + 5px);
  font-weight: 800;
  color: var(--pry-clr);
  opacity: 0.85;
  margin-bottom: 1.5rem;
  transition: ease-in 0.25s;
}

section.about .description p {
  font-size: calc(var(--normal-font-size) + 6px);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--btn-clr);
  background-color: var(--pry-clr);
  opacity: 0.85;
  margin-bottom: 2rem;
  border: none;
  /* border-radius: 6px; */
  outline: none;
  transition: ease-in-out 1s;
}

section.about .description .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

section.about .description .link a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0.5rem;
}

section.about .description .link .more {
  background-color: var(--pry-clr);
  color: var(--btn-clr);
  font-weight: 600;
}

section.about .description .link .hire {
  background-color: var(--cedar-chest);
  color: var(--white);
  font-weight: 600;
}

.fa-angle-double-right {
  margin-left: 0.5rem;
  font-size: var(--small-font-size);
  /* font-weight: 400; */
}

/* === MEDIA QUERIES === */

@media screen and (max-width: 768px) {
  .bd-grid {
    grid-template-columns: 1fr max-content;
  }

  .nav__menu {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    background-color: var(--accent-2);
    transition: ease-in 0.5s;
    /* right: 0; */
  }

  .show {
    left: 0;
  }

  #nav-toggle {
    display: block;
    color: var(--btn-clr);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .social__links {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: var(--header-height);
  }

  .nav__name,
  .nav__link,
  .social__links {
    font-size: 1.2rem;
  }

  nav .nav__menu .nav__list {
    display: block;
    padding: 1.5rem;
    width: 100%;
  }

  nav .nav__menu .nav__list .nav__item .nav__link {
    display: block;
    padding: 0.75rem 0 0.75rem 1rem;
    margin: 1rem;
    /* border: 1px solid red; */
    background-color: var(--pry-clr);
  }
}

@media screen and (min-width: 768px) {
  .social__links .nav__link:hover,
  .social__links .nav__link:focus {
    color: var(--white);
    font-size: 1.75rem;
  }

  .active {
    border-bottom: 2px solid var(--btn-clr);
    transition: all ease-in-out 0.2s;
  }
}
